@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

::selection {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  container  */
.container {
    height: 95%;
    width: 80%;
    border: 1px solid royalblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #cad2c5;
}

.top {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* budget section  */
.addBudget {
    height: auto;
    width: 48%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: #edf2f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inp1 {
    margin: 1vw;
}

.inp1 input {
    border: 1px solid royalblue;
    padding: .7vw;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1 {
    padding: .5vw;
    border: none;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* width: 25%; */
}


/* expense add section  */
.tracker {
    height: auto;
    width: 45%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #edf2f4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inp2 {
    display: flex;
    flex-direction: column;
    margin: 1.5vw;
    gap: 5px;
}

.expName {
    border: 1px solid royalblue;
    padding: .7vw;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


/* middel section  */
.middel {
    height: 20%;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-evenly;
    background-color: royalblue;
    margin: .4vw;
    border-radius: 10px;
}

.total {
    color: white;
    margin-top: 1vw;
    text-align: center;
}


/* bottom section  */
.bottom {
    height: 35%;
    width: auto;
    background-color: #edf2f4;
    margin-right: .5vw;
    margin-left: .5vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
}

.bottom h2 {
    padding: 12px;
}

.listItems {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}


li {
    list-style: none;
    padding: 12px 24px;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    position: relative;
}

